<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src='../favicon.ico' style="width: 100px; height: 45px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="movies"> Movies </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tvshows"> TV Shows </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="celebs"> Celebs </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="add"> Add </a>
      </li>
    </ul>
  </div>
</nav>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Poster</th>
      <th scope="col">Movie Name</th>
      <th scope="col">Year Of Release</th>
      <th scope="col">Plot</th>
      <th scope="col">Cast</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody *ngFor="let movies of movies">
    <tr >
      <th scope="row" style="width: 200px;"><img src={{movies.poster}} style="width: 185px;height: 278px;"></th>
      <td style="width: 200px;">{{movies.name}}</td>
      <td style="width: 160px;">{{movies.year}}</td>
      <td style="width: 400px;">{{movies.plot}}</td>
      <td style="width: 300px;">{{movies.cast}}</td>
      <td>
        <span class="table-edit"><button type="button"
            class="btn btn-danger btn-rounded btn-sm my-0">Edit</button></span>
      </td>
    </tr>
  </tbody>
</table>
